#brame-footer{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  background-color: #272829;
  padding: 20px 60px;
  color: #828282;

  .text-red{
    color: #d8383c;
  }

  .col:nth-child(2){
    text-align: right;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

}