
#brame-footer-PC{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  background-color: #272829;
  padding: 20px 60px;
  color: #828282;

  .text-red{
    color: #d8383c;
  }

  .col:nth-child(2){
    text-align: right;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

}
#brame-footer-Tablet{
  width: 900px;
  margin: 0px auto;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  background-color: #272829;
  padding: 20px 60px;
  color: #828282;

  .text-red{
    color: #d8383c;
  }

  .col:nth-child(2){
    text-align: right;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

}
#brame-footer-Phone{
  width:480px;
  margin: 0px auto;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  background-color: #272829;
  padding: 20px 60px;
  color: #828282;
  text-align: center;

  .text-red{
    color: #d8383c;
  }

  .col:nth-child(2){
    text-align: center;
    margin: 15px 0px;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

}