.entice{
  max-width: 400px;
  &-content{
    margin: 0px 30px;
     &_title{
      height: 65px;
      padding: 19.5px 0px 19.5px 0px;
      font-size: 26px;
      border-bottom: 1px dotted #b4b4b4;
     }
      &_section{

      }
      &_layout{
        
      }

  }

  &-finish {
    //margin: 180px 30px 0px 30px;
    display: flex;

    &_text {
      width: 70%;
      h3 {
        color: rgb(0, 0, 0);
        font-size: 18px;
        margin-bottom: 15px;
      }
      p {
        color: #b4b4b4;
      }
    }
    &_cta {
      padding-top: 20px;
    a {
      padding: 15px 30px;
      background-image: linear-gradient(to right top, #58ad63, #75b45a, #92b951, #afbe4b, #ccc148);
      color: rgb(255, 255, 255);
      font-size: 18px;
      text-decoration: none;
      border-radius: 5px;
      
    }
  }
  }

}